:root {
	--burnt-orange: #bf4e22ff;
	--midnight-green: #53917E;
	--moonstone: #89B1BD;
	--floral-white: #fff8f0ff;
	--papaya-whip: #fff2d7ff;
	--charcoal: #232323;
}

@font-face {
	font-family: 'Nanum Myeongjo';
	font-style: normal;
	font-weight: normal;
	font-display: swap;
	src: url('/fonts/nanum-myeongjo/NanumMyeongjo-Regular.ttf');
}

@font-face {
	font-family: 'Nanum Myeongjo Bold';
	font-style: normal;
	font-weight: bold;
	font-display: swap;
	src: url('/fonts/nanum-myeongjo/NanumMyeongjo-Bold.ttf');
}

@font-face {
	font-family: 'Nanum Myeongjo ExtraBold';
	font-style: normal;
	font-weight: bold;
	font-display: swap;
	src: url('/fonts/nanum-myeongjo/NanumMyeongjo-ExtraBold.ttf');
}

@font-face {
	font-family: 'Junicode 2';
	font-style: normal;
	font-weight: normal;
	font-display: swap;
	src: url('/fonts/junicode2/JunicodeTwoBeta-SemiCondensedMediumItalic.otf');
}

* {
	box-sizing: border-box;
}

body {
	--color-bg: var(--floral-white);
	--color-text: var(--midnight-green);
	--color-highlight: var(--burnt-orange);
	--color-accent: var(--moonstone);
	--color-shadow: #23232380;
	background-color: var(--color-bg);
	transition: background-color 0.4s;
	padding: 1.6rem;
	font-family: 'Nanum Myeongjo';
}

body.dark-theme {
	--color-bg: var(--charcoal);
	--color-text: var(--floral-white);
	--color-highlight: var(--midnight-green);
	--color-accent: var(--burnt-orange);
	--color-shadow: #23232380;
}

body > * {
	color: var(--color-text);
}

h1, h2, h3, h4, h5 {
	font-family: 'Junicode 2';
}

a {
  text-decoration: underline 0.12em rgba(83, 145, 126, 0.2);
  text-underline-offset: 0.15em;
	font-family: inherit;
	color: var(--burnt-orange);
  transition: text-decoration-color 300ms, text-underline-offset 300ms;
}

a:hover {
  text-decoration-color: rgba(83, 145, 126, 1);
  text-underline-offset: 0.2em;
}


